.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12vw;
    box-sizing: border-box;

    background: #272727;
    z-index: 1000;
    /* border: 1px solid red; */
}
  
/* left side stuff */
.nav-left {
    display: flex;
    align-items: center;
    gap: 2rem;
}
  
.nav-logo {
    height: 55px;
    cursor: pointer;
    margin-top: 0.4rem;

    transition: transform 0.2s ease, filter 0.2s ease;
}
.nav-logo:hover {
    filter: drop-shadow(0 0 1.5em #6e75f8);
    transform: scale(1.15); /* animate growing */
}
  
/* links */
.nav-links {
    display: flex;
    gap: 1.5rem;
    font-size: 1rem;
}
  
.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: color 0.2s ease;
}

.nav-links a:hover {
    color: #6e75f8;
}
  
/* right side stuff */
.nav-right {
    display: flex;
    gap: 1.2rem;
    font-size: 1.4rem;
}
  
.nav-right a {
    color: white;
    transition: color 0.2s ease;
}
  
.nav-right a:hover {
    color: #6e75f8;
}